In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
accidental_deaths = "accidental deaths.csv"
accidental_deaths_df = pd.read_csv(accidental_deaths)
accidental_deaths_df.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2371338,"July 26, 2022",South Carolina,Johns Island,Jules St,1,0,NaN
1,2370647,"July 26, 2022",Indiana,Muncie,2810 S. Monroe St,1,0,NaN
2,2370544,"July 25, 2022",Washington,Ellensburg,Yew St,1,0,NaN
3,2369189,"July 24, 2022",Michigan,Niles,3100 block of Detroit Rd,1,0,NaN
4,2366931,"July 22, 2022",Florida,Saint Petersburg,5800 Lynn Lake Dr S,1,0,NaN

In [49]:
# Create a filtered dataframe from specific columns
columns = ["Incident ID", "Incident Date", "State", "City Or County", "# Injured", "# Killed"]
transformed= accidental_deaths_df[columns].copy()
transformed.reset_index(inplace=True)

# Rename the column headers
transformed = transformed.rename(columns={"index":"ID",
                                                    "Incident ID": "incident_id",
                                                    "Incident Date": "incident_date",
                                                    "State": "state",
                                                    "City Or County": "city_county",
                                                    "# Injured":"no_injured",
                                                    "# Killed": "no_killed"})

transformed.set_index("ID", inplace=True)

transformed.head()

,incident_id,incident_date,state,city_county,no_injured,no_killed
ID,,,,,,
0,2371338,"July 26, 2022",South Carolina,Johns Island,0,1
1,2370647,"July 26, 2022",Indiana,Muncie,0,1
2,2370544,"July 25, 2022",Washington,Ellensburg,0,1
3,2369189,"July 24, 2022",Michigan,Niles,0,1
4,2366931,"July 22, 2022",Florida,Saint Petersburg,0,1

In [51]:
states = list(transformed["state"].unique())
states

states = pd.DataFrame(states)
states = states.rename(columns={0:"state"})

In [15]:
connection_string = "postgres:password@localhost:5432/gun_violence_db"
engine = create_engine(f'postgresql://{connection_string}')

In [46]:
# Confirm tables
engine.table_names()

/Users/alexanderpowers/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages/ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['accidental_injuries', 'mass_shootings', 'accidental_deaths', 'overdoses']

In [50]:
transformed.to_sql(name='accidental_deaths', con=engine, if_exists='append', index=True)

In [40]:
states.to_sql(name='states', con=engine, if_exists='append', index=True)

In [52]:
mass_shootings = "mass_shootings_all.csv"
mass_shootings_df = pd.read_csv(mass_shootings)

columns = ["Incident ID", "Incident Date", "State", "City Or County", "# Injured", "# Killed"]
transformed_ms= mass_shootings_df[columns].copy()
transformed_ms.reset_index(inplace=True)


transformed_ms = transformed_ms.rename(columns={"index":"ID",
                                                    "Incident ID": "incident_id",
                                                    "Incident Date": "incident_date",
                                                    "State": "state",
                                                    "City Or County": "city_county",
                                                    "# Injured":"no_injured",
                                                    "# Killed": "no_killed"})

transformed_ms.set_index("ID", inplace=True)

transformed_ms.to_sql(name='mass_shootings', con=engine, if_exists='append', index=True)

In [53]:
accidental_injuries = "accidental_injuries.csv"
accidental_injuries_df = pd.read_csv(accidental_injuries)


columns = ["Incident ID", "Incident Date", "State", "City Or County", "# Injured", "# Killed"]
transformed_ai= accidental_injuries_df[columns].copy()
transformed_ai.reset_index(inplace=True)


transformed_ai = transformed_ai.rename(columns={"index":"ID",
                                                    "Incident ID": "incident_id",
                                                    "Incident Date": "incident_date",
                                                    "State": "state",
                                                    "City Or County": "city_county",
                                                    "# Injured":"no_injured",
                                                    "# Killed": "no_killed"})

transformed_ai.set_index("ID", inplace=True)

transformed_ai.to_sql(name='accidental_injuries', con=engine, if_exists='append', index=True)

In [60]:
overdoses = "overdoses.csv"
overdoses_df = pd.read_csv(overdoses)


columns = ["State","Population","Deaths"]
transformed_o = overdoses_df[columns].copy()
transformed_o.reset_index(inplace=True)

transformed_o= transformed_o.rename(columns={"index":"ID",
                                                    "State": "state",
                                                    "Population":"population",
                                                    "Deaths":"deaths"})

transformed_o["population"]=transformed_o["population"].str.replace(",","")
transformed_o["deaths"]=transformed_o["deaths"].str.replace(",","")
transformed_o

transformed_o.set_index("ID", inplace=True)

transformed_o.to_sql(name='overdoses', con=engine, if_exists='append', index=True)