In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
accidental_adult_deaths = "Resources/accidental_deaths.csv"
accidental_adult_deaths_df = pd.read_csv(accidental_adult_deaths)
accidental_adult_deaths_df.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2369189,"July 24, 2022",Michigan,Niles,3100 block of Detroit Rd,1,0,NaN
1,2366931,"July 22, 2022",Florida,Saint Petersburg,5800 Lynn Lake Dr S,1,0,NaN
2,2366254,"July 21, 2022",South Carolina,North Charleston,N Oakridge Cir,1,0,NaN
3,2364234,"July 19, 2022",Michigan,Detroit,Bramell St and Elmira St,1,0,NaN
4,2363850,"July 19, 2022",Missouri,Rogersville,4500 block of S Farm Rd 223,1,0,NaN

In [3]:
accidental_children_deaths = "Resources/accidental_deaths_children.csv"
accidental_children_deaths_df = pd.read_csv(accidental_children_deaths)
accidental_children_deaths_df.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2366931,"July 22, 2022",Florida,Saint Petersburg,5800 Lynn Lake Dr S,1,0,NaN
1,2364633,"July 17, 2022",Indiana,Kouts,NaN,1,0,NaN
2,2360449,"July 15, 2022",Wisconsin,Milwaukee,N 13th St and W Ring St,1,0,NaN
3,2359835,"July 14, 2022",Arkansas,Pine Bluff,27113 Shannon Valley Rd,1,0,NaN
4,2358335,"July 11, 2022",Oklahoma,Guthrie,E Co Rd 76 and N Westminster Rd,1,0,NaN

In [4]:
accidental_teen_deaths = "Resources/accidental_deaths_teens.csv"
accidental_teen_deaths_df = pd.read_csv(accidental_teen_deaths)
accidental_teen_deaths_df.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2366254,"July 21, 2022",South Carolina,North Charleston,N Oakridge Cir,1,0,NaN
1,2364234,"July 19, 2022",Michigan,Detroit,Bramell St and Elmira St,1,0,NaN
2,2364685,"July 19, 2022",Florida,Bradenton,14th St E and 9th Ave E,1,0,NaN
3,2356147,"July 10, 2022",Alabama,Montgomery,3300 block of Fountain Ln,1,0,NaN
4,2355496,"July 10, 2022",Michigan,Detroit,250 Riverfront Dr,1,0,NaN

In [22]:
# Create a filtered dataframe from specific columns
adult_columns = ["Incident ID", "Incident Date", "State", "City Or County", "# Killed"]
adult_transformed= accidental_adult_deaths_df[adult_columns].copy()
adult_transformed.reset_index(inplace=True)

# Rename the column headers
adult_transformed = adult_transformed.rename(columns={"index":"id",
                                                    "Incident ID": "incident_id",
                                                    "Incident Date": "incident_date",
                                                    "State": "state",
                                                    "City Or County": "city_or_county",
                                                    "# Killed": "no_killed"})

adult_transformed.set_index("id", inplace=True)

adult_transformed.head()

    incident_id  incident_date           state    city_or_county  no_killed
id
0       2369189  July 24, 2022        Michigan             Niles          1
1       2366931  July 22, 2022         Florida  Saint Petersburg          1
2       2366254  July 21, 2022  South Carolina  North Charleston          1
3       2364234  July 19, 2022        Michigan           Detroit          1
4       2363850  July 19, 2022        Missouri       Rogersville          1

In [23]:
# Create a filtered dataframe from specific columns
children_columns = ["Incident ID", "Incident Date", "State", "City Or County", "# Killed"]
children_transformed= accidental_children_deaths_df[children_columns].copy()
children_transformed.reset_index(inplace=True)

# Rename the column headers
children_transformed = children_transformed.rename(columns={"index":"id",
                                                            "Incident ID": "incident_id",
                                                            "Incident Date": "incident_date",
                                                            "State": "state",
                                                            "City Or County": "city_or_county",
                                                            "# Killed": "no_killed"})

children_transformed.set_index("id", inplace=True)

children_transformed.head()

    incident_id  incident_date      state    city_or_county  no_killed
id
0       2366931  July 22, 2022    Florida  Saint Petersburg          1
1       2364633  July 17, 2022    Indiana             Kouts          1
2       2360449  July 15, 2022  Wisconsin         Milwaukee          1
3       2359835  July 14, 2022   Arkansas        Pine Bluff          1
4       2358335  July 11, 2022   Oklahoma           Guthrie          1

In [25]:
# Create a filtered dataframe from specific columns
teen_columns = ["Incident ID", "Incident Date", "State", "City Or County", "# Killed"]
teen_transformed= accidental_teen_deaths_df[teen_columns].copy()
teen_transformed.reset_index(inplace=True)

# Rename the column headers
teen_transformed = teen_transformed.rename(columns={"index":"id",
                                                    "Incident ID": "incident_id",
                                                    "Incident Date": "incident_date",
                                                    "State": "state",
                                                    "City Or County": "city_or_county",
                                                    "# Killed": "no_killed"})

teen_transformed.set_index("id", inplace=True)

teen_transformed.head()

    incident_id  incident_date           state    city_or_county  no_killed
id
0       2366254  July 21, 2022  South Carolina  North Charleston          1
1       2364234  July 19, 2022        Michigan           Detroit          1
2       2364685  July 19, 2022         Florida         Bradenton          1
3       2356147  July 10, 2022         Alabama        Montgomery          1
4       2355496  July 10, 2022        Michigan           Detroit          1

In [8]:
connection_string = "postgres:postgres@localhost:5432/gun_violence_db"
engine = create_engine(f'postgresql://{connection_string}')

In [9]:
# Confirm tables
engine.table_names()

c:\Users\dokur\anaconda3\envs\bootcamp\lib\site-packages\ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['accidental_deaths_adults',
 'accidental_deaths_children',
 'accidental_deaths_teens']

In [12]:
adult_transformed.to_sql(name='accidental_deaths_adults', con=engine, if_exists='append', index=True)

In [26]:
children_transformed.to_sql(name='accidental_deaths_children', con=engine, if_exists='append', index=True)

In [28]:
teen_transformed.to_sql(name='accidental_deaths_teens', con=engine, if_exists='append', index=True)